* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

html {
  font-size: 24px;
  font-family: 'Unica One', cursive;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1rem 0;
}

#app h1 {
  font-size: 3rem;
  letter-spacing: 0.5rem;
  margin-bottom: 8px;
}

.calculator {
  display: grid;
  
  border: 2px solid yellow;
  border-radius: 12px;
  overflow: hidden;
  padding: 24px 18px 18px;
  background: #999;

  width: 480px;

  min-height: 720px;

  box-shadow: 5px 5px 12px -6px black;

  grid-template-rows: 180px repeat(12, 1fr);
  grid-template-columns: repeat(5, 1fr);
}

.calculator button {
  font-family: "Coda", cursive;
  font-size: 4vh;
  font-weight: 900;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 8px -4px black, 0 0 6px -3px #f00;
}

.memory button {
  background: #ff2;
  font-size: 1em;
}

.operations button {
  background: #fb2;
}

button.equals {
  background: #f55;
}

.digits button {
  background: #fff;
}

.display {
  background: #88f;
  padding: 5px 8px;

  grid-column: 1 / 6;
  grid-row: 1 / 4;

  border: 2px solid yellow;
  border-radius: 12px;
  box-shadow: inset 2px 2px 12px -6px black, inset -2px -2px 12px -6px black;

  height: 160px;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 40px 50px 60px;
}

.held-label {
  grid-row: 1;
  grid-column: 1 / 6;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.7);
  text-decoration: underline;
}

.held-value {
  grid-row: 2;
  grid-column: 1 / 6;
  font-size: 36px;
}

.next-operation {
  font-size: 42px;
  grid-row: 3;
  grid-column: 1;

  color: #fb6;
  font-weight: bold;
}

.next-value {
  font-size: 48px;
  grid-row: 3;
  grid-column: 2 / 6;
  text-align: right;
}

.controls {
  grid-column: 1 / 6;
  grid-row: 2 / 14;

  display: grid;
  grid-gap: 12px;

  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
}


.memory {
  grid-column: 1 / 4;
  grid-row: 1;

  display: grid;
  grid-gap: 12px;

  grid-template-columns: 2fr 3fr;
}

.operations {
  grid-column: 4 / 5;
  grid-row: 1 / 6;

  display: grid;
  grid-gap: 12px;
  grid-template-rows: repeat(5, 1fr);
}

.digits {
  grid-column: 1 / 4;
  grid-row: 2 / 6; 
  
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.digits :last-of-type {
  grid-column: 2 / 4;
}